body {
    background: #f0f0f0;
    font-size: 1.3em;
    font-family: "Source Sans Pro", "Segoe UI", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.site-header {
    font-size: 1.8em;
    text-align: center;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.back-link {
    color: #666;
    margin-bottom: 15px;
    display: block;
}

footer {
    display: flex;
    font-size: .7em;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    color: #666;
    width: 750px;
    margin: 15px auto 0;
}

/* Tuites */

.tuite {
    padding: 10px;
    background: #fff;
    margin: 15px 0;
}

.tuite p {
    margin: 0 0 5px;
}

.tuite .date {
    font-size: .8em;
    color: rgb(151, 151, 151);
}

.tuite .creator {
    font-size: .8em;
    color: #666;
    font-weight: bold;
}

.tuite .creator a {
    color: inherit;
    text-decoration: underline;
}

.tuite .creator a:hover {
    text-decoration: underline;
    color: #1DA1F2;
}

.tuite .date a {
    color: inherit;
    text-decoration: none;
}

.tuite .date a:hover {
    color: #1DA1F2;
    text-decoration: underline;
}

/* Single tuite card */

.tuite-card {
    background: #fff;
    padding: 15px;
    position: relative;
}

.tuite-card p:not(:last-of-type) {
    margin: 0 0 10px;
}

.tuite-card p:last-of-type {
    margin: 0;
}

.tuite-card .content {
    font-size: 1.4em;
}

.tuite-card .creator {
    color: #333;
}

.tuite-card .date {
    color: #666;
}

.like-tuite {
    color: salmon;
    position: absolute;
    bottom: 25px;
    right: 25px;
    text-decoration: none;
}

/* Menu */

.menu-wrapper {
    background: #1DA1F2;
    padding: 15px;
    color: #fff;
    margin-bottom: 20px;
}

.menu-inner {
    width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu-inner .site-name {
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.menu-inner nav {
    font-size: .9em;
}

.menu-inner .user-info {
    display: inline-block;
}

.menu-inner .site-name a {
    color: #fff;
    text-decoration: none;
}

.menu-inner nav a {
    color: #fff;
    padding: 0 15px;
}


/* Postar Tuite */

.form-error {
    color: rgb(220, 0, 0);
    font-size: .9em;
    margin: 15px 0;
}

.two-column-form {
    display: grid;
    grid-template-columns: 70% 30%;
}

.two-column-form .big-input {
    padding: 15px;
    font-size: 1.2em;
}

.two-column-form input[type="submit"] {
    font-size: 1.1em;
    cursor: pointer;
    padding: 15px;
    background: #1DA1F2;
    color: #fff;
    border: 0;
}

input {
    font-family: inherit;
}

/* Mensagens */

.message {
    padding: 10px;
    border: 2px dotted #1DA1F2;
    color: #333;
    margin: 0 0 20px;
}

.message.success {
    border-color: limegreen;
}

/* Perfil do usuário */

.user-profile .stats {
    margin: 10px 0;
    font-size: .9em;
    color: #666;
}

.user-profile .user-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile .pic-column .profile-picture {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}

/* Busca */

.not-found {
    font-weight: 600;
    text-align: center; 
    font-size: 1.2em;
}

/* Form de cadastro */

.helptext {
    font-size: .8em;
    color: #666;
}

.errorlist {
    padding: 0;
    list-style: none;
    color: red;
}