{% load static %}
<html>

<head>
  <title>Tuirer</title>
  <link href="{% static 'style.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>

<body>
  {% include 'includes/menu.html' %}
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <div class="left">Este site não tem filiação nenhuma com o site ao lado</div>
    <div class="right">Feito no Curso de Django da 28ª Jornada de Cursos</div>
  </footer>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</body>

</html>