{% extends 'base.html' %}

{% block body %}
<section class="home-tuites">
    <h3>Todos os tuites</h3>

    {% if messages %}
        {% for message in messages %}
        <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% for tuite in tuites %}
        <div class="tuite">
            <p class="creator">@{{ tuite.creator }}</p>
            <p>{{ tuite.content }}</p>
            <p class="date">{{ tuite.date_created }}</p>
        </div>
    {% endfor %}
</section>
{% endblock %}