{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <h2>Postar Tuite</h2>

    {% for error, message in form.errors.items %}
        <div class="form-error">{{ message|striptags }}</div>
    {% endfor %}

    {% if messages %}
        {% for message in messages %}
        <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" class="two-column-form">
        {% csrf_token %}
        {% render_field form.content class="big-input" placeholder="O que você está pensando?" %}
        {% render_field form.creator %}
        <input type="submit" value="Postar!">
    </form>
{% endblock %}