{% extends 'base.html' %}

{% block body %}
<a class="back-link" href="{% url 'tuites:list' %}">Voltar</a>
    {% include 'includes/message.html' %}
    <div class="tuite-card">
        <p class="content">{{ tuite.content }}</p>
        <p class="creator">
            <a href="{% url 'users:profile' tuite.creator.id %}">{{ tuite.creator.username }}</a>
        </p>
        <p class="date">{{ tuite.date_created }}</p>
        <a href="{% url 'tuites:like' tuite.id %}" class="like-tuite"><i class="far fa-heart"></i> 0</a>
    </div>
{% endblock %}